/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}
h1 {
  color: var(--black); /*gets replaced with black*/
  margin: var(--spacing-default);
  font-family: var(--primary-font);
}
p {
  color: var(--white);
  margin: var(--spacing-default);
}

.logo {
  padding: 0.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

li {
  float: right;
}

a {
  display: block;
  padding: 2rem;
  float: right;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  top: -10rem;
  right: 6rem;
}

/*adobe xd variables*/
:root {
  --green: #585123;
  --yellow-orange: #f2a65a;
  --orange: #f58549;
  --marooon: #772f1a;
  --black: black;
  --white: white;
  --spacing-default: 1rem;
  --primary-font: "sans-serif";
}

body {
  /*background: var(--black);*/
}
.republish {
  font-family: var(--unnamed-font-family-arial);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-14);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--share-green);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.small-button {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-15);
  letter-spacing: var(--unnamed-character-spacing-0-04);
  color: var(--white);
}
.figure-caption {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-10);
  line-height: var(--unnamed-line-spacing-13);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--caption-gray);
}
.tag {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--tag-green);
}
.heading {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-29-5);
  line-height: var(--unnamed-line-spacing-33);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--heading-gray);
}
.subheading {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16-5);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--subheading-gray);
}
.by {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-13);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--heading-gray);
}
.author {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-13);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--heading-gray);
  text-decoration: var(--unnamed-decoration-underline);
}
.date {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-13);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--caption-gray);
}
.newsletter-note {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-italic);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14-5);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--body-gray);
}
.newsletter-note-underline {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-italic);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14-5);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--body-gray);
  text-decoration: var(--unnamed-decoration-underline);
}
.body {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18-5);
  line-height: var(--unnamed-line-spacing-26-5);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--body-gray);
}
.hyperlink {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18-5);
  line-height: var(--unnamed-line-spacing-26-5);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--tag-green);
  text-decoration: var(--unnamed-decoration-underline);
}
