/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}
h1 {
  color: var(--black); /*gets replaced with black*/
  margin: var(--spacing-default);
  font-family: var(--primary-font);
}
p {
  color: var(--white);
  margin: var(--spacing-default);
}

.logo {
  padding: 0.5rem;
  display: flex;
}

.wildfirelogo {
  display: flex;
  inline-size: 30rem;
  margin-left: 35rem;
  margin-top: -5rem;
}

.hurricanelogo {
  display: flex;
  inline-size: 30rem;
  margin-left: 35rem;
  margin-top: -5rem;
}

.droughtlogo {
  display: flex;
  inline-size: 30rem;
  margin-left: 35rem;
  margin-top: -9rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

li {
  float: right;
}

a {
  display: flex;
  padding: 2rem;
  float: right;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: -10rem;
  right: 6rem;
}

.homeheading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  height: 15rem;
  justify-content: space-around;
  position: relative;
  left: 2rem;
  bottom: -12.2rem;
  color: white;
  font-size: 25px;
}

.indexheader {
  position: relative;
  -webkit-backdrop-filter: blur(3rem);
  backdrop-filter: blur(3px);
  max-height: 10rem;
}
.wildfireheader {
  position: relative;
  backdrop-filter: blur(10px);
  background-color: rgba(253, 148, 10, 0.212);
  max-height: 10rem;
}
.hurricaneheader {
  position: relative;
  -webkit-backdrop-filter: blur(3rem);
  backdrop-filter: blur(3px);
  max-height: 10rem;
}
.homebody {
  background-image: url(https://images.unsplash.com/photo-1562089727-90aa996a6f18?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xpbWF0ZSUyMGNoYW5nZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 140vh;
  background-color: #51646e;
}

.hurricanebody {
  background-image: url(https://images.unsplash.com/photo-1500915760625-756e918b7fcb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGh1cnJpY2FuZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 165vh;
  background-color: #052232;
}
.hurricane1 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  inline-size: 80rem;
  margin: auto;
  top: -10rem;
  justify-content: space-around;
  position: relative;
}
.video {
  display: flex;
  margin-left: 30rem;
  margin-top: -5rem;
}

.hurricane2 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  inline-size: 80rem;
  margin: auto;
  top: 8rem;
  justify-content: space-around;
  position: relative;
}

.hurricane3 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  inline-size: 80rem;
  margin: auto;
  top: 10rem;
  justify-content: space-around;
  position: relative;
}

.droughtbody {
  background-image: url(https://images.unsplash.com/photo-1615957148446-6a1647193298?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZHJvdWdodHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 150vh;
}

.wildfirebody {
  background-image: url(https://images.unsplash.com/photo-1627404017595-212e8933788f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHdpbGRmaXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 165vh;
  background-color: #000000;
}

.wildfire1 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  inline-size: 80rem;
  margin: auto;
  top: -10rem;
  justify-content: space-around;
  position: relative;
}
.wildfire2 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  inline-size: 80rem;
  margin: auto;
  top: -4rem;
  justify-content: space-around;
  position: relative;
}
.wildfire3 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  inline-size: 80rem;
  margin: auto;
  right: -20rem;
  top: 1rem;
  justify-content: space-around;
  position: relative;
}
.wildfire4 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  inline-size: 80rem;
  top: 6rem;
  margin: auto;
  justify-content: space-around;
  position: relative;
}
.wildfirepic1 {
  display: flex;
  flex-wrap: row;
  justify-content: space-around;
  padding: 0 2rem;
  width: 50rem;
  margin-top: 10rem;
  margin-left: 25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.homeblurb {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  inline-size: 60rem;
  margin: auto;
  top: 6.1rem;
  right: 9rem;
  /*top: 10rem;
  left: 10rem;
  display: flex;
  height: 15rem; */
  justify-content: space-around;
  position: relative;
}

/*adobe xd variables*/
:root {
  --green: #585123;
  --yellow-orange: #f2a65a;
  --orange: #f58549;
  --marooon: #772f1a;
  --black: black;
  --white: white;
  --spacing-default: 1rem;
  --primary-font: "sans-serif";
}

.fireicon {
  background: none;
  border: none;
  width: 8.4rem;
  position: relative;
}

.fireicon:hover {
  opacity: 0.5;
  background: none;
}

.tornadoicon {
  background: none;
  border: none;
  width: 8.2rem;
  position: relative;
}

.tornadoicon:hover {
  opacity: 0.5;
}

.watericon {
  background: none;
  border: none;
  width: 8.5rem;
  position: relative;
}

.watericon:hover {
  opacity: 0.5;
}

.icons {
  background: none;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-top: 22rem;
  margin-left: auto;
}
form {
  border: none;
  text-decoration: none;
  outline: none;
  border: none;
  width: 8.2rem;
  position: relative;
}

body {
  /*background: var(--black);*/
}
.republish {
  font-family: var(--unnamed-font-family-arial);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-14);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--share-green);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.small-button {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-15);
  letter-spacing: var(--unnamed-character-spacing-0-04);
  color: var(--white);
}
.figure-caption {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-10);
  line-height: var(--unnamed-line-spacing-13);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--caption-gray);
}
.tag {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--tag-green);
}
.heading {
  font-family: var(--unnamed-font-family-tinos);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-29-5);
  line-height: var(--unnamed-line-spacing-33);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--heading-gray);
}
.subheading {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16-5);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--subheading-gray);
}
.by {
  font-family: var(--unnamed-font-family-graphik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-13);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--heading-gray);
}
